plugins {
    id 'nf-kubernetes@26.05.0-k8s'
}


k8s {
    storageClaimName = 'nextflow'
    serviceAccount = 'wave-sa'
    pod = [
	[env: 'NXF_PLUGINS_DIR',	value:'/mount/workdir/.nextflow/plugins'],
        [env: 'NXF_HOME', 		value:'/mount/workdir/.nextflow'],
        [env: 'NXF_JAR', 		value:'nextflow-26.05.0-k8s-one.jar'],
    ]
}
